@import "./variables.scss";

#expertise {
  .page-banner {
    min-height: 90vh;
    .expertise-header-text {
      position: absolute;
      left: 10%;
      top: 15vh;
      color: #c9cbcd;
      font-size: 60px;
      line-height: 74px;
      letter-spacing: 0.003em;
    }
    .expertise-title {
      color: #7c8080;
      font-weight: 500;
      position: absolute;
      left: 10%;
      top: 52vh;
      font-family: $p-font;
      font-size: 19px;
      line-height: 30px;
    }
  }
  #expertise-1 {
    padding: 0 10%;
    img {
      margin-top: -120px;
      position: relative;
    }
  }

  #expertise-2 {
    padding: 5% 10% 2%;

    #expertise-2-1,
    #expertise-2-2,
    #expertise-2-3 {
      display: inline-block;
      width: 33%;
      vertical-align: top;
      border-right: 1px solid #c2c4c5;
      cursor: pointer;

      h2,
      p {
        width: 80%;
        color: #7c8080;
      }
    }
    #expertise-2-2 {
      h2,
      p {
        margin: auto;
        margin-bottom: 30px;
      }
    }
    #expertise-2-3 {
      border: none;
      h2,
      p {
        margin-left: auto;
      }
    }

    h2 {
      margin: 0;
      font-size: 35px;
      line-height: 50px;
      letter-spacing: 0.0025em;
      color: #3b4349;
      margin-bottom: 30px;
    }
    p {
      color: #7c8080;
      font-size: 18px;
    }
  }
  #expertise-3 {
    .box {
      position: relative;
      display: block;
      width: 33%;
      border-top: 3px solid #ffc000;
    }
    hr {
      border: none;
      border-bottom: 1px solid #c2c4c588;
    }
    .box:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      height: 0;
      border-top: 25px solid #ffc000;
      border-left: 45px solid transparent;
      border-right: 45px solid transparent;
    }
    .box:after {
      content: "";
      position: absolute;
      display: inline-block;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      height: 0;
      top: -3px;
      border-top: 25px solid white;
      border-left: 45px solid transparent;
      border-right: 45px solid transparent;
    }
    .box-2 {
      left: 33%;
    }
    .box-3 {
      left: 66%;
    }
    .contents {
      padding: 0px 10% 0px 10%;
    }

    background: #e2e3e3;

    h3 {
      display: inline-block;
      width: 30%;
      font-family: $s-font;
      color: #3b4349;
      font-size: 35px;
      line-height: 50px;
      letter-spacing: 0.002em;
      vertical-align: middle;
    }
    p {
      display: inline-block;
      width: 70%;
      vertical-align: middle;
      color: #7c8080;
      font-size: 18px;
      letter-spacing: 0.007em;
    }

    .expertise-3-content {
      margin-top: 5%;
      padding-bottom: 5%;
    }
  }
}

@media (max-width: 768px) {
  #expertise {
    .page-banner {
      .expertise-header-text {
        font-size: 23px;
        line-height: 30px;
        letter-spacing: 0.002em;
      }
      .expertise-title {
        font-size: 15px;
        line-height: 25px;
        top: 34vh;
        width: calc(100% - 20%);
      }
    }
    #expertise-2 {
      padding: 5% 10% 2%;

      #expertise-2-1,
      #expertise-2-2,
      #expertise-2-3 {
        width: 100%;
        border-right: none;

        h2,
        p {
          width: 100%;
        }
      }

      h2 {
        font-size: 23px;
        line-height: 27px;
      }
      p {
        font-size: 15px;
        line-height: 25px;
      }
    }
    #expertise-3{
      .expertise-3-content {
        margin-top: 40px;
      }
      h3 {
        width:100%;
        font-size:22px;
        line-height: 30px;
        margin:0;
      }
      p {
        width:100%;
        font-size: 15px;
        line-height: 25px;
      }
      hr {
        margin: 20px 0;
      }
    }
  }
}
